.main_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
  }

  a {
    font-size: 15px;
    text-decoration: none;
    &:before {
      display: none;
    }
  }

  .style_icon {
    font-size: 20px;
    color: rgb(59, 55, 55);

    &:hover {
      color: #1677ff;
    }
  }
}
